@import "variables";
@import "skills";
@import "projects";
@import "about";
@import "header";
@import "navbar";
@import "floatingButtons";
@import "contact";
@import "footer";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: $main-black;
  }

  &::-webkit-scrollbar-thumb {
    background: $main-yellow;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: $main-black;
  overflow-x: hidden;

  &--fd-col {
    flex-direction: column;
  }

  &--mh-100 {
    min-height: 100vh;
  }
}
