.skills__heading {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.skills__heading span {
  text-transform: uppercase;
  color: #fab431;
  letter-spacing: 10px;
  font-size: 10rem;
  opacity: 0.1;
  font-weight: bold;
}

.skills__grid {
  width: 100%;
  height: 1080px;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.skills__skill {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}

.skills__skill img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.skills__skill-status {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: #fab431;
}

.skills__skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 0px;
  height: 0px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
  pointer-events: none;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}

.skills__category {
  width: 200px;
  margin: 0 auto;
  opacity: 0;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: initial;
  z-index: 1000;
  margin: 0 auto;
}

.skills__category-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.skills__category-img {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  pointer-events: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__category-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.skills__category-name {
  font-size: 3rem;
  color: #fab431;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 5px;
  position: absolute;
  display: inline-block;
  pointer-events: none;
  left: 50%;
  top: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__category-btn {
  border: 1px solid #fff;
  color: #fff;
  background: #000000;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: background 300ms linear, color 300ms linear;
  transition: background 300ms linear, color 300ms linear;
  position: absolute;
  left: 50%;
  top: 255px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__category-btn:hover {
  background: #fff;
  color: #000000;
}

.skills__category-close-btn {
  font-size: 4rem;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills__category-close-btn svg {
  color: #fff;
  font-size: 2.4rem;
}

@media screen and (max-width: 992px) {
  .skills__grid {
    height: 1450px;
  }
  .skills__skill {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .skills__skill img {
    width: 60px;
    height: 60px;
  }
}

#pin-start {
  position: absolute;
  top: 0;
}

#pin-end {
  position: absolute;
  bottom: 0;
}

.projects__wrapper {
  padding: 100px 0px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  position: relative;
}

.projects__projects {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__heading {
  position: absolute;
  top: 0%;
  right: -50%;
  text-transform: uppercase;
  color: #fab431;
  font-size: 20rem;
  opacity: 0.1;
  font-weight: bold;
}

.project {
  width: 90%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  z-index: 2;
  position: relative;
}

.project__favourite {
  position: absolute;
  top: calc(20px + 1.5rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  opacity: 0;
}

.project__favourite svg {
  color: #fab431;
  font-size: 1.5rem;
}

.project__img {
  width: 55%;
  height: auto;
  height: 400px;
  background: #cacaca;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.project__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.project__content {
  padding: 20px;
  width: 45%;
}

.project__content-name {
  width: 100%;
  height: 3rem;
  position: relative;
  overflow: hidden;
}

.project__content-name h5 {
  color: #fab431;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
}

.project__content-description {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project__content-description-line {
  width: 100%;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.project__content-description-line span {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  position: absolute;
  line-height: 1.2rem;
}

.project__content-view-project {
  width: 100%;
  height: 40px;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}

.project__content-view-project button {
  border: 2px solid white;
  height: 40px;
  width: 120px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.4rem;
  background: transparent;
  color: #fff;
  -webkit-transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
}

.project__content-view-project button:hover {
  color: #000;
  border-color: #fab431;
}

.project__content-view-project button:hover:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.project__content-view-project button:after {
  content: "";
  width: 118px;
  height: 38px;
  background: #fab431;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-clip-path 300ms ease-in-out;
  transition: -webkit-clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
}

.project:hover .project__content span {
  opacity: 1;
  pointer-events: all;
}

.project:hover .project__content button {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 992px) {
  .projects__projects {
    gap: 200px;
  }
  .projects__heading {
    right: -60%;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__img {
    height: 500px;
    width: 100%;
  }
  .project__favourite {
    top: calc(500px + 20px + 1.5rem);
  }
  .project__content {
    width: 100%;
  }
  .project__content-name h5 {
    margin: 0 auto;
  }
  .project__content-description-line span {
    margin: 0 auto;
  }
  .project__content-view-project button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 762px) {
  .projects__heading {
    right: -100% !important;
    font-size: 18rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__favourite {
    top: calc(400px + 20px + 1.5rem);
  }
  .project__img {
    height: 400px;
  }
  .project__content {
    width: 100%;
  }
  .project__content-description-line span {
    font-size: 1rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .projects__heading {
    font-size: 16rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__favourite {
    top: calc(300px + 20px + 1.5rem);
  }
  .project__img {
    height: 300px;
  }
}

@media screen and (max-width: 450px) {
  .projects__heading {
    font-size: 14rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__favourite {
    top: calc(250px + 20px + 1.5rem);
  }
  .project__img {
    height: 250px;
  }
}

.about__wrapper {
  height: 100vh;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

html::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

html::-webkit-scrollbar-track {
  background: #000000;
}

html::-webkit-scrollbar-thumb {
  background: #fab431;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #000000;
  overflow-x: hidden;
}

.wrapper--fd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper--mh-100 {
  min-height: 100vh;
}
/*# sourceMappingURL=styles.css.map */