.skills__heading {
  width: 100%;
  height: 10rem;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.skills__heading span {
  text-transform: uppercase;
  color: #fab431;
  letter-spacing: 10px;
  font-size: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  opacity: 0.2;
  font-weight: bold;
  position: absolute;
}

.skills__grid {
  width: 100%;
  height: 1240px;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.skills__skill {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}

.skills__skill img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.skills__skill-status {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: #fab431;
}

.skills__skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 0px;
  height: 0px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
  pointer-events: none;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}

.skills__category {
  width: 200px;
  margin: 0 auto;
  opacity: 0;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: initial;
  z-index: 1000;
  margin: 0 auto;
}

.skills__category-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.skills__category-img {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  pointer-events: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__category-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.skills__category-name {
  font-size: 3rem;
  color: #fab431;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 5px;
  position: absolute;
  display: inline-block;
  pointer-events: none;
  left: 50%;
  top: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__category-btn {
  border: 1px solid #fff;
  color: #fff;
  background: #000000;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: background 300ms linear, color 300ms linear;
  transition: background 300ms linear, color 300ms linear;
  position: absolute;
  left: 50%;
  top: 255px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__category-btn:hover {
  background: #fff;
  color: #000000;
}

.skills__category-close-btn {
  font-size: 4rem;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills__category-close-btn svg {
  color: #fff;
  font-size: 2.4rem;
}

@media screen and (max-width: 992px) {
  .skills__grid {
    height: 1800px;
  }
  .skills__skill {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .skills__skill img {
    width: 60px;
    height: 60px;
  }
}

#pin-start {
  position: absolute;
  top: 0;
}

#pin-end {
  position: absolute;
  bottom: 0;
}

.projects__wrapper {
  padding: 100px 0px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  position: relative;
}

.projects__projects {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__heading {
  position: absolute;
  top: 0%;
  right: -50%;
  text-transform: uppercase;
  color: #fab431;
  font-size: 20rem;
  opacity: 0.2;
  font-weight: bold;
}

.project {
  width: 90%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  z-index: 2;
  position: relative;
}

.project__favourite {
  position: absolute;
  top: calc(20px + 1.5rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  opacity: 0;
}

.project__favourite svg {
  color: #fab431;
  font-size: 1.5rem;
}

.project__img {
  width: 55%;
  height: auto;
  height: 400px;
  background: #cacaca;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.project__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.project__content {
  padding: 20px;
  width: 45%;
}

.project__content-name {
  width: 100%;
  height: 3rem;
  position: relative;
  overflow: hidden;
}

.project__content-name--long-name {
  height: 6rem;
}

.project__content-name h5 {
  color: #fab431;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
}

.project__content-description {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project__content-description-line {
  width: 100%;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.project__content-description-line span {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  position: absolute;
  line-height: 1.2rem;
}

.project__content-view-project {
  width: 100%;
  height: 40px;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}

.project__content-view-project button {
  border: 2px solid white;
  height: 40px;
  width: 120px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.4rem;
  background: transparent;
  color: #fff;
  -webkit-transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
}

.project__content-view-project button:hover {
  color: #000;
  border-color: #fab431;
}

.project__content-view-project button:hover:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.project__content-view-project button:after {
  content: "";
  width: 118px;
  height: 38px;
  background: #fab431;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-clip-path 300ms ease-in-out;
  transition: -webkit-clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
}

.project:hover .project__content span {
  opacity: 1;
  pointer-events: all;
}

.project:hover .project__content button {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 992px) {
  .projects__projects {
    gap: 200px;
  }
  .projects__heading {
    right: -60%;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__img {
    height: 500px;
    width: 100%;
  }
  .project__favourite {
    top: calc(500px + 20px + 1.5rem);
  }
  .project__content {
    width: 100%;
  }
  .project__content-name h5 {
    margin: 0 auto;
  }
  .project__content-description-line span {
    margin: 0 auto;
  }
  .project__content-view-project button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 762px) {
  .projects__heading {
    right: -100% !important;
    font-size: 18rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__favourite {
    top: calc(400px + 20px + 1.5rem);
  }
  .project__img {
    height: 400px;
  }
  .project__content {
    width: 100%;
  }
  .project__content-description-line span {
    font-size: 1rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .projects__heading {
    font-size: 16rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__favourite {
    top: calc(300px + 20px + 1.5rem);
  }
  .project__img {
    height: 300px;
  }
  .project__content-name h5 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 450px) {
  .projects__heading {
    font-size: 14rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__favourite {
    top: calc(250px + 20px + 1.5rem);
  }
  .project__img {
    height: 250px;
  }
}

.about__wrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about__heading {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  gap: 10px;
}

.about__heading span {
  font-size: 4rem;
  color: #fab431;
  text-transform: uppercase;
  font-weight: bold;
}

.about__paragraph {
  width: 100%;
  padding: 0px 10% 0px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.about__paragraph-line {
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.about__paragraph-line:first-of-type {
  height: 2.5rem;
}

.about__paragraph-line span {
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 1.2rem;
  color: #fff;
}

@media screen and (max-width: 762px) {
  .about__paragraph-line {
    height: 5.5rem;
  }
  .about__paragraph-line:first-of-type {
    height: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .about__paragraph-line {
    height: 8rem;
  }
}

@media screen and (max-width: 350px) {
  .about__paragraph-line {
    height: 8.5rem;
  }
  .about__paragraph-line:first-of-type {
    height: 5.5rem;
  }
}

.header__wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 20;
}

.header__left {
  padding-left: 5%;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.header__right {
  width: 50%;
  height: 100%;
  background: #0e0d0d;
  position: relative;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__name-first, .header__name-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: hidden;
}

.header__name-first div, .header__name-last div {
  height: 100%;
  font-size: 8rem;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: lowercase;
  color: #fab431;
  z-index: 1;
}

.header__name-first div::-moz-selection, .header__name-last div::-moz-selection {
  background: none;
}

.header__name-first div::selection, .header__name-last div::selection {
  background: none;
}

.header__name-first div:first-of-type, .header__name-last div:first-of-type {
  font-size: 12rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  z-index: 2;
}

.header__name-last {
  margin-left: calc(-21rem - 30px);
}

.header__name-second-part {
  overflow: hidden;
  position: relative;
  width: 22rem;
  min-height: 12rem;
}

.header__name-second-part span {
  position: absolute;
  bottom: 0;
  line-height: 5.9rem;
}

.header__cta-container {
  width: 97px;
  height: 42px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}

.header__cta {
  position: absolute;
  background: #fab431;
  border: 2px solid #fab431;
  font-weight: bold;
  font-size: 1.4rem;
}

.header__cta::-moz-selection {
  background: none;
}

.header__cta::selection {
  background: none;
}

.header__cta a {
  padding: 10px 18px;
  display: block;
  color: #000000;
  text-decoration: none;
}

.header__cta a::-moz-selection {
  background: none;
}

.header__cta a::selection {
  background: none;
}

.header__title {
  width: 24rem;
  height: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
}

.header__title::-moz-selection {
  background: none;
}

.header__title::selection {
  background: none;
}

.header__title span {
  position: absolute;
}

@media screen and (max-width: 992px) {
  .header__content {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 762px) {
  .header__name div {
    font-size: 6rem;
  }
  .header__name div:first-of-type {
    font-size: 10rem;
  }
  .header__name-last {
    margin-left: calc(-17rem - 30px);
  }
  .header__name-second-part {
    width: 18rem;
    min-height: 7rem;
  }
  .header__name-second-part span {
    line-height: 4.4rem;
  }
}

@media screen and (max-width: 600px) {
  .header__title {
    width: 19.1rem;
    height: 1.6rem;
    font-size: 1.4rem;
  }
  .header__name {
    gap: 10px;
  }
  .header__name div {
    font-size: 4rem;
  }
  .header__name div:first-of-type {
    font-size: 8rem;
  }
  .header__name-last {
    margin-left: calc(-12rem - 30px);
  }
  .header__name-second-part {
    width: 10.5rem;
    min-height: 7rem;
  }
  .header__name-second-part span {
    line-height: 2.2rem;
  }
}

@media screen and (max-width: 600px) {
  .header__title {
    font-size: 1.2rem;
  }
  .header__name div {
    font-size: 3rem;
  }
  .header__name div:first-of-type {
    font-size: 6rem;
  }
  .header__name-last {
    margin-left: calc(-9rem - 30px);
  }
}

.navbar {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 100;
}

.navbar__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
  position: relative;
}

.navbar__list-item {
  height: 100%;
  opacity: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar__list-item:hover a {
  color: #000000;
}

.navbar__list-item:hover a::after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.navbar__list-item a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0px 20px;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
  position: relative;
}

.navbar__list-item a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fab431;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: -webkit-clip-path 200ms linear;
  transition: -webkit-clip-path 200ms linear;
  transition: clip-path 200ms linear;
  transition: clip-path 200ms linear, -webkit-clip-path 200ms linear;
}

.floating-buttons__wrapper {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.floating-buttons__button {
  position: relative;
  -webkit-transition: margin-bottom 200ms linear;
  transition: margin-bottom 200ms linear;
}

.floating-buttons__button:nth-of-type(2) {
  margin-bottom: 10px;
}

.floating-buttons__button:nth-of-type(2) a {
  background: #fab431;
}

.floating-buttons__button:nth-of-type(2) span {
  opacity: 1;
}

.floating-buttons__button:hover, .floating-buttons__button.selected {
  margin-bottom: 10px;
}

.floating-buttons__button:hover a, .floating-buttons__button.selected a {
  background: #fab431;
}

.floating-buttons__button:hover span, .floating-buttons__button.selected span {
  opacity: 1;
}

.floating-buttons__button a {
  text-decoration: none;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fab431;
  cursor: pointer;
}

.floating-buttons__button a:hover ~ span {
  opacity: 1;
}

.floating-buttons__button span {
  opacity: 0;
  pointer-events: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

html::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

html::-webkit-scrollbar-track {
  background: #000000;
}

html::-webkit-scrollbar-thumb {
  background: #fab431;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #000000;
  overflow-x: hidden;
}

.wrapper--fd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper--mh-100 {
  min-height: 100vh;
}
/*# sourceMappingURL=styles.css.map */